<%= form_with(model: estimation, local: true) do |form| %>
  <% if estimation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estimation.errors.count, "error") %> prohibited this estimation from being saved:</h2>

      <ul>
        <% estimation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :minutes %>
    <%= form.number_field :minutes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
